# 金融和经济数据应用

# 数据规整化方面的话题

In [1]:
# 时间序列及截面对齐

In [2]:
from datetime import datetime

In [3]:
now=datetime.now()

In [4]:
now

datetime.datetime(2019, 7, 17, 21, 39, 21, 492296)

In [5]:
now.year,now.month, now.day

(2019, 7, 17)

In [6]:
delta=datetime(2019,7,17)-datetime(1996,7,27)
delta

datetime.timedelta(days=8390)

In [7]:
from datetime import timedelta

In [8]:
start=datetime.now()

In [9]:
start+timedelta(2)

datetime.datetime(2019, 7, 19, 21, 39, 21, 543350)

In [10]:
timestamp=datetime.now()

In [11]:
str(timestamp)
#  转为str形式

'2019-07-17 21:39:21.565174'

In [12]:
timestamp.strftime('%Y-%m-%d')
# 转为有格式的字符串形式

'2019-07-17'

In [13]:
value='2019-07-17'

In [14]:
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2019, 7, 17, 0, 0)

In [15]:
datestrs=['7/17/2019','7/18/2019']

In [17]:
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2019, 7, 17, 0, 0), datetime.datetime(2019, 7, 18, 0, 0)]

In [18]:
from dateutil.parser import parse

In [19]:
parse('2019-07-17')

datetime.datetime(2019, 7, 17, 0, 0)

In [20]:
parse('Jan 31,1997 10:45 PM')

datetime.datetime(2019, 1, 31, 22, 45)

In [21]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [22]:
datestrs=['7/17/2019 12:00:00','7/18/2019 00:00:00']

In [25]:
import pandas as pd
pd.to_datetime(datestrs)

DatetimeIndex(['2019-07-17 12:00:00', '2019-07-18 00:00:00'], dtype='datetime64[ns]', freq=None)

In [26]:
idx=pd.to_datetime(datestrs+[None])

In [27]:
idx

DatetimeIndex(['2019-07-17 12:00:00', '2019-07-18 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [28]:
idx[2]

NaT

In [29]:
pd.isnull(idx)

array([False, False,  True])

In [ ]:
# 时间序列基础

In [31]:
import pandas as pd
import numpy as np
from datetime import datetime

In [32]:
dates=[datetime(2011,1,1),datetime(2011,1,2),
      datetime(2011,1,3),datetime(2011,1,4),
      datetime(2011,1,5),datetime(2011,1,6)]

In [33]:
ts=pd.Series(np.random.randn(6),index=dates)

In [34]:
ts

2011-01-01    1.515173
2011-01-02    0.848459
2011-01-03    2.152031
2011-01-04    1.501350
2011-01-05   -0.498825
2011-01-06   -0.415554
dtype: float64

In [36]:
ts.index

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06'],
              dtype='datetime64[ns]', freq=None)

In [39]:
ts[::2]

# 每隔两个元素选一个元素

2011-01-01    1.515173
2011-01-03    2.152031
2011-01-05   -0.498825
dtype: float64

In [38]:
ts[::2]+ts

2011-01-01    3.030346
2011-01-02         NaN
2011-01-03    4.304063
2011-01-04         NaN
2011-01-05   -0.997650
2011-01-06         NaN
dtype: float64

In [40]:
ts.index.dtype

dtype('<M8[ns]')

In [41]:
stamp=ts.index[0]

In [43]:
stamp# 时间戳

Timestamp('2011-01-01 00:00:00')

In [44]:
# indexing selection subsetting

In [45]:
# 取子集

In [46]:
ts

2011-01-01    1.515173
2011-01-02    0.848459
2011-01-03    2.152031
2011-01-04    1.501350
2011-01-05   -0.498825
2011-01-06   -0.415554
dtype: float64

In [48]:
stamp=ts.index[2]

In [49]:
ts[stamp]

2.15203131460736

In [50]:
ts['1/1/2011']

1.5151728671589406

In [52]:
long_ts=pd.Series(np.random.randn(1000),
                 index=pd.date_range('1/1/2000',periods=1000))

In [54]:
long_ts[:10]

2000-01-01   -0.648286
2000-01-02    2.310414
2000-01-03   -0.459889
2000-01-04   -0.610173
2000-01-05    0.641569
2000-01-06    1.678521
2000-01-07    1.292951
2000-01-08   -1.255655
2000-01-09    0.780125
2000-01-10    0.879748
Freq: D, dtype: float64

In [56]:
long_ts['2001-02']

2001-02-01   -0.755669
2001-02-02    1.408939
2001-02-03    0.927640
2001-02-04   -0.361488
2001-02-05   -1.423860
2001-02-06   -2.008181
2001-02-07   -0.042593
2001-02-08    1.110651
2001-02-09   -0.393732
2001-02-10   -1.354596
2001-02-11    1.085633
2001-02-12    1.382580
2001-02-13   -0.072930
2001-02-14    0.082006
2001-02-15   -0.504525
2001-02-16   -0.068277
2001-02-17    0.429772
2001-02-18   -0.903032
2001-02-19    0.709474
2001-02-20    0.360140
2001-02-21    0.136241
2001-02-22    0.502414
2001-02-23    0.856429
2001-02-24   -1.004906
2001-02-25   -1.083012
2001-02-26   -0.401750
2001-02-27   -0.200131
2001-02-28    0.586841
Freq: D, dtype: float64

In [59]:
ts

2011-01-01    1.515173
2011-01-02    0.848459
2011-01-03    2.152031
2011-01-04    1.501350
2011-01-05   -0.498825
2011-01-06   -0.415554
dtype: float64

In [58]:
ts[datetime(2011,1,2)]

0.8484591060505104

In [60]:
# 按照时间戳来进行切片

In [61]:
ts['1/1/2011':'1/4/2011']

2011-01-01    1.515173
2011-01-02    0.848459
2011-01-03    2.152031
2011-01-04    1.501350
dtype: float64

In [62]:
ts.truncate(after='1/5/2011')

# truncate

2011-01-01    1.515173
2011-01-02    0.848459
2011-01-03    2.152031
2011-01-04    1.501350
2011-01-05   -0.498825
dtype: float64

In [68]:
dates=pd.date_range('7/1/2019',periods=100,freq='W-WED')

In [69]:
long_df=pd.DataFrame(np.random.randn(100,4),
                    index=dates,
                    columns=['Colorado','Teaxs',
                            'New York','Ohio'])

In [71]:
long_df.loc['8-2019']

            Colorado     Teaxs  New York      Ohio
2019-08-07  1.140114 -0.383727 -0.916122  1.000715
2019-08-14  0.736692  0.515497 -0.863094  1.091607
2019-08-21  0.543861  1.729177 -0.017459  0.700983
2019-08-28  0.282850 -0.131024  0.091132 -0.887663

In [72]:
# 重复索引的时间序列

In [73]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', 
                          '1/2/2000', '1/3/2000'])

In [74]:
dup_ts=pd.Series(np.arange(5),index=dates)

In [75]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [76]:
dup_ts.index.is_unique

False

In [77]:
dup_ts['1/3/2000'] # 不重复 返回标量

4

In [78]:
dup_ts['1/2/2000']# 重复 返回切片

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [79]:
grouped=dup_ts.groupby(level=0)

In [80]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [81]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [82]:
# date ranges  frequencies and shifting

In [83]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8), 
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [84]:
ts=pd.Series(np.random.randn(6),index=dates)

In [85]:
ts

2011-01-02   -0.336837
2011-01-05    0.718061
2011-01-07   -2.039515
2011-01-08   -0.926983
2011-01-10   -1.050392
2011-01-12    0.037538
dtype: float64

In [86]:
resampler=ts.resample('D')

In [87]:
# 重采样

In [89]:
index=pd.date_range('2012-04-01','2012-06-01')

In [90]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [92]:
pd.date_range(start='2012-04-01',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [94]:
pd.date_range('2000-01-01','2000-12-01',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [95]:
pd.date_range('2012-05-02 12:25:20',periods=5)

DatetimeIndex(['2012-05-02 12:25:20', '2012-05-03 12:25:20',
               '2012-05-04 12:25:20', '2012-05-05 12:25:20',
               '2012-05-06 12:25:20'],
              dtype='datetime64[ns]', freq='D')

In [96]:
pd.date_range('2012-05-02 12:25:20',periods=5,normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [109]:
#频度和日期偏移

In [99]:
from pandas.tseries.offsets import Hour, Minute

In [100]:
hour=Hour()

In [101]:
hour

In [102]:
four_hours=Hour(4)

In [103]:
four_hours

In [105]:
pd.date_range('2000-01-01','2000-01-03',freq='4H')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [106]:
Hour(2)+Minute(30)

In [107]:
pd.date_range('2000-01-01',periods=10,freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [113]:
rng=pd.date_range('2001-01-01','2001-09-01',freq='WOM-3FRI')

In [114]:
rng

DatetimeIndex(['2001-01-19', '2001-02-16', '2001-03-16', '2001-04-20',
               '2001-05-18', '2001-06-15', '2001-07-20', '2001-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [115]:
list(rng)

[Timestamp('2001-01-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2001-02-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2001-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2001-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2001-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2001-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2001-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2001-08-17 00:00:00', freq='WOM-3FRI')]

In [116]:
#偏移数据

In [117]:
ts=pd.Series(np.random.randn(4),
            index=pd.date_range('1/1/2000',periods=4,freq='M'))

In [118]:
ts

2000-01-31   -1.146108
2000-02-29   -0.196575
2000-03-31   -0.048172
2000-04-30    0.739768
Freq: M, dtype: float64

In [120]:
ts.shift(2)

# 滞后两期

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -1.146108
2000-04-30   -0.196575
Freq: M, dtype: float64

In [121]:
ts.shift(-2)
# 提前两期

2000-01-31   -0.048172
2000-02-29    0.739768
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [122]:
# 计算时间序列的百分比变化

In [123]:
ts/ts.shift(1)-1
# 增长率

2000-01-31          NaN
2000-02-29    -0.828484
2000-03-31    -0.754946
2000-04-30   -16.356953
Freq: M, dtype: float64

In [126]:
ts

2000-01-31   -1.146108
2000-02-29   -0.196575
2000-03-31   -0.048172
2000-04-30    0.739768
Freq: M, dtype: float64

In [125]:
ts.shift(2,freq='M')

2000-03-31   -1.146108
2000-04-30   -0.196575
2000-05-31   -0.048172
2000-06-30    0.739768
Freq: M, dtype: float64

In [127]:
ts.shift(3,freq='D')

2000-02-03   -1.146108
2000-03-03   -0.196575
2000-04-03   -0.048172
2000-05-03    0.739768
dtype: float64

In [128]:
ts.shift(1,freq='90T')

#  T表示分钟

2000-01-31 01:30:00   -1.146108
2000-02-29 01:30:00   -0.196575
2000-03-31 01:30:00   -0.048172
2000-04-30 01:30:00    0.739768
Freq: M, dtype: float64

In [129]:
from pandas.tseries.offsets import Day, MonthEnd

In [130]:
now=datetime.now()

In [131]:
now+3*Day()

Timestamp('2019-07-20 23:17:31.626633')

In [133]:
now+ MonthEnd()

Timestamp('2019-07-31 23:17:31.626633')

In [134]:
now+ MonthEnd(2)

Timestamp('2019-08-31 23:17:31.626633')

In [135]:
offset=MonthEnd()

In [136]:
offset.rollforward(now)

Timestamp('2019-07-31 23:17:31.626633')

In [137]:
offset.rollback(now)

Timestamp('2019-06-30 23:17:31.626633')

In [138]:
ts=pd.Series(np.random.randn(20),
            index=pd.date_range('1/15/2000',periods=20,freq='4d'))

In [139]:
ts

2000-01-15   -0.215459
2000-01-19    0.987597
2000-01-23   -1.394571
2000-01-27    2.357703
2000-01-31    0.007854
2000-02-04   -0.157476
2000-02-08   -0.744225
2000-02-12    0.042981
2000-02-16    0.211897
2000-02-20    0.631739
2000-02-24   -1.248084
2000-02-28    1.013669
2000-03-03    0.671000
2000-03-07   -0.627411
2000-03-11    0.238903
2000-03-15   -1.810804
2000-03-19    0.748852
2000-03-23    1.609579
2000-03-27   -0.171513
2000-03-31   -1.882273
Freq: 4D, dtype: float64

In [141]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.348625
2000-02-29   -0.035643
2000-03-31   -0.152958
dtype: float64

In [143]:
ts.resample('M').mean()

2000-01-31    0.348625
2000-02-29   -0.035643
2000-03-31   -0.152958
Freq: M, dtype: float64

In [144]:
# 时间频率的处理方式总结

In [145]:
# pandas 关于日期部分

In [147]:
#  设置为时间格式   pd.to_date

In [148]:
# 生成日期序列   pd.date_range(日期，多少期，频率是多少)

In [149]:
# 设置时间格式  date=[datetime()]

In [150]:
# 设置为日期索引

滞后一期  计算增长率 同时将日度数据转化为月度数据 同理可以进行频率的转换

In [152]:
# 时区处理 time zone handling

In [154]:
# UTC  世界标准时间  coordinated universal  time

In [155]:
# 时区可以理解为UTC的偏离

In [156]:
import pytz  # 汇聚了世界时区信息

In [157]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [158]:
tz=pytz.timezone('America/New_York')

In [159]:
tz

In [160]:
# 时区定位和转换

In [161]:
rng=pd.date_range('3/9/2012 9:30',periods=6,freq='D')

In [162]:
ts=pd.Series(np.random.randn(len(rng)),index=rng)

In [163]:
ts

2012-03-09 09:30:00   -0.078425
2012-03-10 09:30:00    2.243323
2012-03-11 09:30:00   -0.175653
2012-03-12 09:30:00    0.505267
2012-03-13 09:30:00    0.371199
2012-03-14 09:30:00    0.379671
Freq: D, dtype: float64

In [164]:
print(ts.index.tz)

None

In [167]:
pd.date_range('7/17/2019 10:00',periods=10,freq='D',tz='UTC')

DatetimeIndex(['2019-07-17 10:00:00+00:00', '2019-07-18 10:00:00+00:00',
               '2019-07-19 10:00:00+00:00', '2019-07-20 10:00:00+00:00',
               '2019-07-21 10:00:00+00:00', '2019-07-22 10:00:00+00:00',
               '2019-07-23 10:00:00+00:00', '2019-07-24 10:00:00+00:00',
               '2019-07-25 10:00:00+00:00', '2019-07-26 10:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [168]:
ts_utc=ts.tz_localize('UTC')

In [169]:
ts_utc

2012-03-09 09:30:00+00:00   -0.078425
2012-03-10 09:30:00+00:00    2.243323
2012-03-11 09:30:00+00:00   -0.175653
2012-03-12 09:30:00+00:00    0.505267
2012-03-13 09:30:00+00:00    0.371199
2012-03-14 09:30:00+00:00    0.379671
Freq: D, dtype: float64

In [170]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -0.078425
2012-03-10 04:30:00-05:00    2.243323
2012-03-11 05:30:00-04:00   -0.175653
2012-03-12 05:30:00-04:00    0.505267
2012-03-13 05:30:00-04:00    0.371199
2012-03-14 05:30:00-04:00    0.379671
Freq: D, dtype: float64

In [171]:
# 先把时间定位到纽约时间  再转化到柏林时间

In [172]:
ts_eastern=ts.tz_localize('America/New_York')

In [173]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.078425
2012-03-10 14:30:00+00:00    2.243323
2012-03-11 13:30:00+00:00   -0.175653
2012-03-12 13:30:00+00:00    0.505267
2012-03-13 13:30:00+00:00    0.371199
2012-03-14 13:30:00+00:00    0.379671
Freq: D, dtype: float64

In [174]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -0.078425
2012-03-10 15:30:00+01:00    2.243323
2012-03-11 14:30:00+01:00   -0.175653
2012-03-12 14:30:00+01:00    0.505267
2012-03-13 14:30:00+01:00    0.371199
2012-03-14 14:30:00+01:00    0.379671
Freq: D, dtype: float64

In [175]:
# 时区的操作  意识到时间戳对象

In [176]:
# timestamp object

In [177]:
stamp=pd.Timestamp('2019-07-18 0:20')

In [178]:
stamp_utc=stamp.tz_localize('utc')

In [179]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2019-07-17 20:20:00-0400', tz='America/New_York')

In [180]:
stamp_moscow=pd.Timestamp('2019-07-18 04:00',tz='Europe/Moscow')

In [181]:
stamp_moscow

Timestamp('2019-07-18 04:00:00+0300', tz='Europe/Moscow')

In [182]:
stamp_utc.value

1563409200000000000

In [187]:
stamp_utc.tz_convert('America/New_York').value

1563409200000000000

In [188]:
from pandas.tseries.offsets import Hour

In [190]:
stamp=pd.Timestamp('2019-07-18 0:28',tz='US/Eastern')

In [191]:
stamp

Timestamp('2019-07-18 00:28:00-0400', tz='US/Eastern')

In [192]:
stamp+Hour()

Timestamp('2019-07-18 01:28:00-0400', tz='US/Eastern')